#about-us__landing {
	@apply bg-dots-about-us lg:bg-dots-about-us-lg bg-no-repeat bg-contain bg-[center_21px];
	.about-us__landing-content {
		@apply text-gray-5 lg:flex items-center justify-center gap-[101px] lg:pt-14 lg:pb-[110px] lg:h-screen lg:min-h-[768px];
		&__header {
			@apply text-center lg:text-left w-[80.26667%] mt-8 mx-auto lg:mx-0 mb-[27px] leading-tight lg:w-[38.98438%];
			h1 {
				@apply text-black-1 text-[32px] font-medium lg:text-[52px] lg:font-bold;
			}
			.landing__header__subheadings {
				@apply text-[13px] lg:text-lg mt-4 lg:mt-3 font-light;
			}
		}
		.about-us__landing-images {
			@apply lg:w-[48.59375%] w-[87.2%] mx-auto lg:mx-0 mb-14;
			&__container {
				@apply relative w-full pb-[76.45259%];
				.landing__image {
					@apply absolute overflow-hidden rounded-[19px];
					img {
						@apply absolute top-0 left-0 w-full h-full object-cover object-center;
					}
					&.top-image {
						@apply bg-purple-50 w-[83.60856%] h-[80.68%] bottom-0 right-[16.39144%];
					}
					&.bottom-image {
						@apply bg-slate-50 w-[50.02446%] h-[45.988%] top-0 left-[49.97554%];
					}
				}
			}
		}
	}
}
#services {
	@apply bg-white-1;
	.services__content {
		@apply text-gray-1 pt-8 lg:pt-16 pb-6 lg:pb-12;
		&-header {
			@apply text-center mb-4 lg:mb-12;
			h2 {
				@apply text-black-1 text-[26px] lg:text-[36px] font-medium lg:leading-tight;
			}
		}
		.services__doings {
			@apply border border-transparent lg:flex items-center justify-center gap-[104px] lg:mb-[88px];
			.service {
				@apply text-center my-4 lg:my-0 leading-tight font-light lg:text-2xl lg:font-medium lg:leading-tight;
				&__icon {
					@apply inline-block bg-white-2 w-[42px] lg:w-[120px] p-2 lg:p-5 border lg:border-4 text-purple-1 border-current mb-3 rounded-full;
					svg {
						width: unset;
						height: unset;
						@apply w-full;
					}
				}
			}
		}
		[href='/see-all-services'] {
			@apply text-gray-3 block max-w-max mt-[14px] mx-auto rounded-[10px] border lg:border-2 border-purple-1 font-light lg:text-[28px] lg:font-medium leading-tight;
			span {
				@apply inline-block mx-[18px] lg:mx-[40.5px] my-[14.5px] lg:my-[25px];
			}
		}
	}
}

.our-process__content {
	@apply text-black-1 pt-8 pb-12 lg:py-20;
	&-header {
		@apply text-center mb-4 lg:mb-10 leading-tight;
		h2 {
			@apply text-xl font-medium lg:text-4xl lg:leading-tight;
		}
	}
	&__tabs {
		@apply text-center;
		&-tab {
			@apply hidden lg:flex items-center justify-center mb-6;
			.tab-label {
				@apply relative p-[10px] pl-[102px] font-medium text-3xl leading-tight text-purple-1;
				&:last-of-type {
					@apply p-[10px] pr-[102px];
				}
				input {
					@apply absolute inset-0 -z-10 opacity-0;
					&:checked ~ .tab-text {
						@apply text-gray-3;
					}
					&:checked ~ .tab-indicator {
						@apply border-purple-1;
					}
				}
				.tab-indicator {
					@apply block absolute inset-0 border-b-[3px] border-gray-8;
				}
			}
		}
		&__tab-content {
			.tab-pane {
				&[aria-hidden='true'] {
					@apply lg:hidden;
				}
				h3 {
					@apply lg:hidden text-sm lg:text-3xl lg:pb-0 lg:leading-tight leading-[1.3] pb-1 mb-4 font-medium relative text-gray-6 before:absolute before:h-[1px] before:bg-gray-7 before:bottom-0 before:right-0 before:left-0 before:mx-auto before:max-w-[90px];
				}
				p {
					@apply text-xs leading-tight w-[60%] mx-auto mb-4 font-light lg:text-lg lg:leading-normal lg:mb-0;
				}
				&__slider {
					@apply flex items-center lg:justify-center gap-12 lg:mt-14;
					button {
						@apply hidden lg:block w-[53px] p-2 text-[#292D32];
						svg {
							width: unset;
							height: unset;
							stroke-width: unset;
							@apply w-full stroke-1;
						}
					}
					[class^='tab-'] {
						@apply shrink-0 w-1/2 mx-auto lg:mx-0 lg:w-auto;
						div {
							@apply flex items-center justify-center gap-6 lg:gap-14 flex-wrap;
							svg {
								&:nth-child(odd) {
									@apply w-[49px] lg:w-[155px];
								}
								&:nth-child(even) {
									@apply w-[84px] lg:w-[264px];
								}
							}
						}
					}
					[class$='clients'] {
						@apply mb-10 lg:mb-0;
					}
				}
			}
		}
	}
}

.project-content {
	@apply bg-pink-1 text-center py-[38.5px] lg:pt-16 lg:pb-20 text-black-1 text-xl lg:text-4xl lg:leading-tight font-medium leading-tight;
	&__header {
		@apply mb-4 lg:mb-8;
	}
	&__link {
		@apply inline-flex bg-gradient-to-t items-center justify-center rounded-xl lg:rounded-3xl gap-3 lg:gap-[18px] from-purple-1 to-black py-4 lg:py-[29px] px-7 lg:px-[49px] lg:text-[28px] text-white leading-tight;
		svg {
			width: unset;
			height: unset;
			@apply w-7 lg:w-[34px];
		}
	}
}
